body {
  background-color: yellow;
}

h1 {
  text-align: center;
  color: purple;
  margin-left: 20px;
}
p {
  text-align: center;	
  color: blue;
  size: 100;
  margin-left: 20px;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }

.ponk:hover{
	border: 10px solid #C671F9;
	border-radius: 10px;
}

.ref {background-color: #E3D3FA;}	


